@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.form-structure{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    padding: 4rem;
    /* width: 100%; */
    /* margin-top: auto;
    margin-bottom: auto;
    margin-left: auto; 
    margin-right: auto;    */
}

.insideForm{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    flex-wrap: wrap;
    opacity: 0.8;
    border-radius: 1rem;    
    background-color: #ccccd1;
    padding: 3rem;
    margin-bottom: 4rem;
    font-size: 1.5rem;
}

.insideForm:hover{
    transition: all 0.5s;
    box-shadow: 0.5rem 0.5rem 1rem rgb(221, 139, 15);
}

.insideForm input{
    font-family: 'Raleway', sans-serif;
    /* z-index: -1; */
    flex-wrap: wrap;
    /* font-size: 1rem;
    border-radius: 1rem;
    padding: 0rem 1.5rem;
    margin: 0.5rem 0rem; */
}

.insideForm input:hover{
    background-color: #b6bb13;
    border:0.1rem solid black;
    box-shadow: 0.1rem 0.1rem 0.1rem black;
    transition: all 0.5s;
    cursor:pointer;
}

#satisfaction{
    margin: 0.5rem;
}

.txtarea{
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.txtarea textarea{
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    display: flex;
    padding: 1rem;
    width: 100%;
    background-color: #eee;
}

.txtarea textarea:hover{
    background-color: #b6bb13;
    border:0.1rem solid black;
    box-shadow: 0.1rem 0.1rem 0.1rem black;
    transition: all 0.5s;
    cursor:pointer;
}

/* button .btn-pos{
    font-family: 'Raleway', sans-serif;
    width: 6rem;
    height: 2rem;
    font-size: 0.8rem;
    border-radius: 1rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
} */

#gender option{
    font-size: 1rem;
}

/* .btn-pos{
    display: flex;
    justify-content: center;
} */

#btn1{
    font-size: 1.3rem;
    margin: 1rem 1.5rem;
    padding: 1rem;
    width: 10rem;
    border:2px solid black;
    flex-wrap: wrap;
    font-weight: bold;
    border-radius: 1.5rem;
    /* background-color: white; */
}

#btn1:hover{
    /* background-color: rgb(21, 219, 203); */
    transition: all 0.5s;
    border:2px solid black;
    font-weight: bold;
    box-shadow: 0.1rem 0.1rem 0.1rem black;
    cursor: pointer;
}

#btn2{
    font-size: 1.3rem;
    margin: 1rem 1.5rem;
    width: 10rem;
    padding: 1rem;
    flex-wrap: wrap;
    border:2px solid black;
    font-weight: bold;
    border-radius: 1.5rem;
}

#btn2:hover{
    /* background-color: rgb(21, 219, 203); */
    transition: all 0.5s;
    border:2px solid black;
    font-weight: bold;
    box-shadow: 0.1rem 0.1rem 0.1rem black;
    cursor: pointer;
}
