@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body{
    /* background-image: linear-gradient(to right, rgb(0, 0, 0), #7b7f10, #a0a50f, #fff70d); */
    background-image: radial-gradient(#c5aa6a,rgb(255, 255, 255));
    position: relative;
    min-height: 100vh;
    padding-bottom: 10rem;
    /* height: 100vw; */
}

.navbar {
    margin: 1rem;
    padding: 1rem;
    overflow: auto;
    /* background-image: linear-gradient(to right, black, #7b7f10, #a0a50f, #fff70d); */
    background-image: linear-gradient(to right, #2f2626, #4c3c3c, #5f4c4c,#c5aa6a);
    animation: animate 10s ease-in-out infinite ;
    border-radius: 1rem;
    opacity: 0.8;
    display: flex;
}

.navbar ul{
    display: flex;
    flex: 0.4rem;
    max-width: auto;
    /* justify-content: center; */
}
.navbar li {
    float: left;
    list-style: none;
    margin: 1rem;
}

.navbar li a {
    font-family: 'Raleway', sans-serif;
    /* padding-top: 2rem; */
    font-size: 2.3rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    /* font-weight: bold; */
    padding: 0rem 0.75rem;
    margin: 0px 1rem;
}

.navbar li a:hover {
    font-size: 2.5rem;
    font-weight: bold;
    /* background-color: black; */
    /* padding: 1vh; */
    color:blanchedalmond;
    transition: all 0.3s;
}

/* .navbar:hover {
    box-shadow: 0.5rem 0.5rem 0.5rem #444605;
    transition: all 0.3s;
} */
.nav-icon img{
    display: flex;
    justify-content: flex-end;
    float: right;
    top: 0rem;
    width: 4vw;
    height: 4vw;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    /* font-size: 2rem; */
}           

/* 
@keyframes animate {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 0 50%;
    }
    100%{
        background-position: 0 50%;
    }
} */